<h4 class="ms-4">Create a Quiz!</h4>

<mat-stepper #stepper linear>
  <mat-step [stepControl]="formGroup" label="Fill out your quiz name">
    <form [formGroup]="formGroup">
      <mat-form-field class="w-100 mt-2">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('quizNameTaken')">Name is already taken</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-end">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup" label="Create questions">
    <div class="d-flex mt-2">
      <div class="col-9">
        <mat-selection-list>
          <mat-list-item (click)="openAnswerCreationDialog(question)"
                         *ngFor="let question of questionList">{{ question.name }}
          </mat-list-item>
        </mat-selection-list>
        <mat-error *ngIf="!atLeastTwoQuestionsCreated()" class="ms-3">At least one question with two answers are
          required
        </mat-error>

      </div>

      <div class="d-flex w-100 justify-content-end">
        <button (click)="openAddQuestionDialog()"
                aria-label="Add new question" color="primary" mat-icon-button>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>


    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button (click)="saveCreatedQuiz()" [disabled]="!atLeastTwoQuestionsCreated()" mat-button>Create</button>
    </div>
  </mat-step>
</mat-stepper>
