<div *ngIf="resettedQuiz">
  <h4 class="ms-4">Solve Quiz: {{ resettedQuiz.name }}</h4>

  <mat-stepper #stepper orientation="vertical">
    <mat-step *ngFor="let question of resettedQuiz.questions" [label]="question.name">
      <h6>{{ question.name }}</h6>

      <mat-selection-list>
        <mat-list-item *ngFor="let answer of question.answers">
          <div class="d-flex justify-content-between">
          <span
            [ngClass]="{
              'show-answer': shouldShowResults,
              'wrong-answer': !isAnswerCorrect(answer),
              'correct-answer': isAnswerCorrect(answer)
            }"
          >
            {{ answer.name }}
          </span>
            <mat-checkbox [(ngModel)]="answer.isValid" [disabled]="shouldShowResults"></mat-checkbox>
          </div>
        </mat-list-item>
      </mat-selection-list>

      <div>
        <button (click)="showResult()" *ngIf="!shouldShowResults" mat-button>Show result</button>
        <button (click)="resetShowedResults()" *ngIf="shouldShowResults" mat-button matStepperNext>Next
        </button>

      </div>
    </mat-step>
  </mat-stepper>
</div>
